.logo {
  padding-top: 12px;
  padding-bottom: 12px;
  display: block;

  @media (min-width: $table-width) {
    padding-top: 23px;
    padding-bottom: 23px;
  }
}

.logo[href]:hover {
  opacity: 0.8;
}

.logo[href]:active {
  opacity: 0.6;
}

.logo__image {
  width: 191px;

  @media (min-width: $table-width) {
    width: 174px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
  }
}
