.page-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $white;
  padding-top: 12px;
  padding-bottom: 12px;

  @media (min-width: $table-width) {
    padding-top: 23px;
    padding-bottom: 23px;
  }


  @media (min-width: $desktop-width) {
    background-color: transparent;
    padding-top: 55px;
  }
}

