.programs {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.programs__item {
  margin-bottom: 20px;

  @media (min-width: $table-width) {
    margin-bottom: 30px;
  }
}
