.sub-card {
  display: flex;
  flex-direction: column;

  @media (min-width: $table-width) {
    padding: 27px 36px 28px;
    border: 1px solid $grey;
    display: grid;
    grid-template-columns: 1fr 1fr;

    &:not(:last-child) {
      border-bottom: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 16px 0;
    border-left: none;
    border-right: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.sub-card__title {
  font-size: 16px;
  line-height: 16px;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  margin-top: 11px;

  @media (min-width: $table-width) {
    margin: 0;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 300px;
  }
}

.sub-card__data-list {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-top: 14px;
  margin-bottom: 15px;

  @media (min-width: $table-width) {
    font-size: 16px;
    line-height: 20px;
    justify-content: flex-end;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 285px;
    justify-content: space-between;
  }
}

.sub-card__data-description {
  width: 55px;
  text-align: end;
}

.sub-card__button {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;

  @media (min-width: $table-width) {
    grid-column: 1/-1;
    margin-top: 25px;
  }

  @media (min-width: $desktop-width) {
    min-width: 244px;
    margin-top: 0;
  }
}
