$accent: #68b738;
$accent--darken: #5eaa2f;
$error: #ff8282;
$black: #000000;
$white: #ffffff;
$grey--darkest: #222222; //текст названия продукта
$grey--darken: #444444; //основной текст
$grey-dark: #666666;
$grey: #cdcdcd; //иконки
$grey--light: #ebebeb; //border
$grey--lighten: #f2f2f2;
//viewports
$table-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
